<!DOCTYPE html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>№</th> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                                                                                                                                                                                                                                                                                                                                                                   
    <tr class="vacancy"> 
     <td class="pos">1</td> 
     <td class="title"><a href="http://rabota.ua/company794/vacancy5703796">Java Trainee</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">GlobalLogic Ukraine Профиль компании</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="pos">2</td> 
     <td class="title"><a href="http://rabota.ua/company2460042/vacancy5721742">IT Developer Internship</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">Keel Solution</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="pos">3</td> 
     <td class="title"><a href="http://rabota.ua/company950917/vacancy5699907">Junior Java Developer</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">Logivations</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="pos">4</td> 
     <td class="title"><a href="http://rabota.ua/company43767/vacancy5721435">Junior Java Back-End developer</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">N-iX</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="pos">5</td> 
     <td class="title"><a href="http://rabota.ua/company2431308/vacancy5611764">Junior Android Engineer</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">Teamvoy</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="pos">6</td> 
     <td class="title"><a href="http://rabota.ua/company2431308/vacancy5611774">Junior iOS Engineer</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">Teamvoy</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="pos">7</td> 
     <td class="title"><a href="http://hh.ua/vacancy/12844678?query=java%20junior%20developer">Junior Java Developer</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">Unkur Solutions</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="pos">8</td> 
     <td class="title"><a href="http://hh.ua/vacancy/12975249?query=java%20junior%20developer">Junior Software Developer</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">Unkur Solutions</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="pos">9</td> 
     <td class="title"><a href="http://rabota.ua/company1840594/vacancy5673251">Junior Developer</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">Unkur Solutions</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="pos"></td> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>